@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, #141b29, #0c111b 300px);;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  line-height: 1.428;
}

h1, h2, h3{
  line-height: 1.1;
}

a{
  text-decoration: none;
  display: inline-block;
}
